{{> header}}


<form class="text-center border border-light p-5" action="#/edit/{{club.id}}" method="POST">
    <h1>Edit Club</h1>
    <div class="form-group">
        <label for="title">Club Title</label>
        <input type="text" class="form-control" placeholder="Movie Title" value="{{club.title}}" name="title">
    </div>
    <div class="form-group">
        <label for="description">Club Description</label>
        <textarea class="form-control" placeholder="Club Description..." name="description">{{club.description}}</textarea>
    </div>

    <div class="form-group">
        <label for="description">First best player Description</label>
        <textarea class="form-control" placeholder="Club Description..." name="firstPlayer">{{club.firstPlayer}}</textarea>
    </div>
    <div class="form-group">
        <label for="description">Second best player Description</label>
        <textarea class="form-control" placeholder="Club Description..." name="secondPlayer">{{club.secondPlayer}}</textarea>
    </div>
    <div class="form-group">
        <label for="description">Third best player Description</label>
        <textarea class="form-control" placeholder="Club Description..." name="thirdPlayer">{{club.thirdPlayer}}</textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input type="text" class="form-control" placeholder="Image Url" value="{{club.imageUrl}}" name="imageUrl">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{> footer}}